@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
html {
overflow-x: hidden; /* Prevent horizontal scrolling */
overflow-y: auto; /* Enable vertical scrolling */
scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
scroll-behavior: smooth;
}
/* Fixed Header*/
.fixed-header {
color: #fff;
background-color: rgba(0, 0, 0, 0.9); /* Dark background with 90% opacity */
backdrop-filter: blur(10px); /* Frosted glass effect */
-webkit-backdrop-filter: blur(10px); /* For Safari */
border-radius: 0;
width: 100%;
padding: 1% 2%; /* Adjust padding as needed */
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1000;
}
img {
object-fit: fill;
width: auto;
height: 55px;
}
.fixed-header .logo {
position: relative;
text-decoration: none;
text-transform: uppercase;
cursor: pointer;
transition: 0.6s;
}
.fixed-header ul {
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.fixed-header ul li {
position: relative;
list-style: none;
}
.fixed-header ul li a {
position: relative;
margin: 0 15px;
text-decoration: none;
color: #fff; /* Set the color to white */
letter-spacing: 2px;
font-size: small;
transition: 0.6s;
font-weight: bolder;
}
.fixed-header ul li a:hover {
color: #03a9f4; 
}
@media (max-width: 768px) {
.fixed-header {
width: 100%;
padding: 20px;
}
}
/*Footer Section*/
.footer-section {
display: flex;
justify-content: space-between;
align-items: flex-start;
background-color: #000;
color: #fff;
padding: 20px;
font-family: Arial, sans-serif;
}
.footer-left h3 {
color: #fff;
font-size: 1.5em;
}
.footer-left p {
margin: 5px 0;
line-height: 1.5;
width: 400px;
}
.footer-center {
text-align: left;
}
.footer-center a {
font-size: 1.2em;
margin-bottom: 10px;
}
.footer-center p,
.footer-center a {
margin: 5px 0;
color: #fff;
}
.footer-center a {
color: red;
text-decoration: none;
}
.footer-right {
text-align: left;
}
.footer-right h4 {
font-size: 1.2em;
margin-bottom: 10px;
}
.footer-right .social-icons {
display: flex;
gap: 10px;
margin-bottom: 10px;
}
.footer-right .social-icons a img {
width: 30px;
height: 30px;
}
.footer-right .footer-links {
display: flex;
gap: 10px;
}
.footer-right .footer-links a {
color: red;
text-decoration: none;
}