.upcoming-event {
padding: 40px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
height: 70vh;
}
.upcoming-event h1 {
font-size: 2.5em;
margin: 0 0 10px;
color: red;
}
.upcoming-event p {
font-size: 1.2em;
color: black;
}